
body{
	background-color: #f1f1f2;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

}
ul li{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 3px 5px;
	color:#414042;
}
.warning{
	text-transform: uppercase;
	display:none;
	color:#E3173E;
	font-size: 22px;
	padding:0;
	margin: 0;
	margin-left: 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.max{
	display:none;
	opacity:0.4;
	margin: 0 0 0 500px;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.max:hover{
	opacity: 1;
}
li:hover{
	text-decoration:underline;
	text-decoration-color:#E3173E;
	cursor: pointer;
}
button{
	margin-left: 50px;
}
.heading h2{
	margin-left: 200px;
}
h1{
	font-size: 40px;
	display:inline;
	position: relative;
	text-transform: uppercase;
	text-align: left;
	color:#414042;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    top:0;
}
h1 span{
	color:#E3173E; /*Redish*/
}
h2{
	text-transform: uppercase;
	color:#808080;
	font-size: 22px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing:5px;
	display:inline;

}
div.heading{
	margin-left: 205px;
}
div.y-axis{
    -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	float:left;
	display:block;
	margin: 300px 0 0 -200px;
	padding:20px;
}
table{
	margin: 0 0 0 -150px;
}
thead{
	margin-left: 30px;
}
th{
	text-transform: uppercase;
	color:#808080;
	font-size: 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
td{
	padding:0px;
	margin: 0px;
	background-color: yellow;
	border: 2px white solid;
	height:30px;
	min-width: 50px;
	/*min-height: 80px;*/
	vertical-align: top;
}
td:hover{
	-webkit-box-shadow:  0px 1px 7px 1px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 1px 7px 1px rgba(0, 0, 0, 0.4);
}
#infoSection{
	margin-left: 20px;
	margin-top: 40px;
	width: 900px;
	height:310px;
	display:block;
}
.siblings, .child{
	background: #ccc;
	visibility: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	font-size: 22px;
	padding:0;
	margin: 0  30px 0 0;
}
.siblings{
	display:inline;
}
.child{
	top:0;
	position: relative;
	display:inline;
}
tr.satisfactory td.intermediate ul{

	-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
tr.fair td.intermediate ul{
	-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
}
tr.excellent{height:30px;}
tr.strong{height:60px;}
tr.satisfactory{height:300px;}
tr.fair{height:150px;}
tr.weak{height:30px;}
tr.vulnerable{height:30px;}

td.minimal{width:30px;}
td.modest{width:120px;}
td.intermediate{width:320px;}
td.significant{width:150px;}
td.aggressive{width:120px;}
td.highly_leveraged{width:100px;}


tr.excellent td.minimal{
	background-color: #fdede4;
}
tr.excellent td.modest{
	background-color: #fce1d3;
}
tr.excellent td.intermediate{
	background-color: #fcd9c9;
}
tr.excellent td.significant{
	background-color: #fdcebc;
}
tr.excellent td.aggressive{
	background-color: #fab39b;
}
tr.excellent td.highly_leveraged{
	background-color: #f8a084;
}

tr.strong td.minimal{
	background-color: #fcdbcb;
}
tr.strong td.modest{
	background-color: #fdcebc;
}
tr.strong td.intermediate{
	background-color: #fab7a0;
}
tr.strong td.significant{
	background-color: #fab39b;
}
tr.strong td.aggressive{
	background-color: #f8a488;
}
tr.strong td.highly_leveraged{
	background-color: #f58e70;
}

tr.satisfactory td.minimal{
	background-color: #fcdbcb;
}
tr.satisfactory td.modest{
	background-color: #fdcebc;
}
tr.satisfactory td.intermediate{
	background-color: #fab7a0;
}
tr.satisfactory td.significant{
	background-color: #f8a084;
}
tr.satisfactory td.aggressive{
	background-color: #f58e70;
}
tr.satisfactory td.highly_leveraged{
	background-color: #f37a5c;
}

tr.fair td.minimal{
	background-color: #fdd2c1;
}
tr.fair td.modest{
	background-color: #fcc2ad;
}
tr.fair td.intermediate{
	background-color: #f9a98f;
}
tr.fair td.significant{
	background-color: #f69375;
}
tr.fair td.aggressive{
	background-color: #f37a5c;
}
tr.fair td.highly_leveraged{
	background-color: #f15e43;
}

tr.weak td.minimal{
	background-color: #fcc2ad;
}
tr.weak td.modest{
	background-color: #f9ad93;
}
tr.weak td.intermediate{
	background-color: #f79779;
}
tr.weak td.significant{
	background-color: #f37a5c;
}
tr.weak td.aggressive{
	background-color: #f26548;
}
tr.weak td.highly_leveraged{
	background-color: #ef3f30;
}

tr.vulnerable td.minimal{
	background-color: #f9ad93;
}
tr.vulnerable td.modest{
	background-color: #f69375;
}
tr.vulnerable td.intermediate{
	background-color: #f37a5c;
}
tr.vulnerable td.significant{
	background-color: #f15940;
}
tr.vulnerable td.aggressive{
	background-color: #ef372e;
}
tr.vulnerable td.highly_leveraged{
	background-color: #ee1c25;
}